{% extends "base.html" %}
{% block title %}Eventos - Colegio UDC{% endblock %}
{% block header %}Eventos <i class="fas fa-calendar-alt"></i>{% endblock %}
{% block content %}
<div class="container mt-4">
    {% if eventos|length == 0 %}
        <p class="alert alert-info">No tenemos eventos agendados</p>
    {% else %}
        <div class="row">
            {% for evento in eventos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <strong>Fecha:</strong> {{ evento.fecha }} <br> <strong>Hora:</strong> {{ evento.hora }} </p>
                    </div>
                    <div class="card-body">
                        <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
                        <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
                    </div>
                    <div class="card-footer"> <i class="fas fa-calendar-alt"></i> Publicado el: {{ evento._id.generation_time.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
