{% extends "base.html" %}
{% block title %} Misión - Colegio UDC {% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="container mt-8">
    <div class="card shadow">
        <div class="card-header">
            <h2>Misión</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mission-text">
                        <p class="text-justify">{{ mision.texto }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/Mision.jpg') }}" alt="Misión" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .mission-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
</style>
{% endblock %}
