{% extends "base.html" %}
{% block title %}Quienes Somos - Colegio UDC{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="container mt-8">
    <div class="card shadow">
        <div class="card-header">
            <h2>Quienes Somos</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p>{{ quienes_somos.texto }}</p>
                </div>
                <div class="col-md-6">
                    <img src="https://pixabay.com/get/g9227d7a3a05f80c6aad8d636ad20f8cee9dd7f0649315fa38ec0b21230661c6d41f9059af6c735513099fd0918b8a33665549e4a67ed9cbefa9ebbded2e91f33_1280.jpg" alt="Quienes Somos" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
