{% extends "base.html" %}
{% block title %}Quienes Somos - Colegio UDC{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="container mt-8">
    <div class="card shadow">
        <div class="card-header">
            <h2>Quienes Somos</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p>{{ quienes_somos.texto }}</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/Quienes_somos.jpg') }}" alt="Quienes Somos" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
