{% extends "admin/admin_base.html" %}
{% block title %} Editar Evento{% endblock %}
{% block header %}Editar Evento{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('editar_evento', evento_id=evento._id) }}" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" value="{{ evento.fecha }}" required>
        <div class="invalid-feedback">Por favor, ingrese la fecha del evento.</div>
    </div>
    <div class="form-group">
        <label for="hora">Hora:</label>
        <input type="time" class="form-control" id="hora" name="hora" value="{{ evento.hora }}" required>
        <div class="invalid-feedback">Por favor, ingrese la hora del evento.</div>
    </div>
    <div class="form-group">
        <label for="lugar">Lugar:</label>
        <input type="text" class="form-control" id="lugar" name="lugar" value="{{ evento.lugar }}" required>
        <div class="invalid-feedback">Por favor, ingrese el lugar del evento.</div>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required>{{ evento.descripcion }}</textarea>
        <div class="invalid-feedback">Por favor, ingrese una descripción del evento.</div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% endblock %}
