{% extends "profesor/base_profesor.html" %}
{% block title %} Calificaciones{% endblock %}
{% block header %}Calificaciones{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{{ url_for('asignar_calificacion') }}" method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="asignatura" class="form-label">Asignatura:</label>
                    <select name="asignatura" id="asignatura" class="form-control" required>
                        {% for materia in materias %}
                        <option value="{{ materia }}">{{ materia }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="estudiante" class="form-label">Estudiante:</label>
                    <select name="estudiante" id="estudiante" class="form-control" required>
                        {% for estudiante in estudiantes %}
                        <option value="{{ estudiante['nombre'] }}">{{ estudiante['nombre'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="calificacion" class="form-label">Calificación:</label>
                    <input type="number" name="calificacion" id="calificacion" class="form-control" min="0" max="5" step="0.1" required>
                </div>
                <button type="submit" class="btn btn-primary">Subir Calificación</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
