{% extends "profesor/base_profesor.html" %}
{% block title %} Editar calificaciones{% endblock %}
{% block header %}Editar calificaciones{% endblock %}
{% block content %}
<form action="{{ url_for('editar_nota', nota_id=nota._id) }}" method="post">
    <label for="nueva_calificacion">Nueva Calificación:</label>
    <input type="number" name="nueva_calificacion" id="nueva_calificacion" value="{{ nota.calificacion }}" required>
    <button type="submit">Guardar Cambios</button>
</form>
<a href="{{ url_for('ver_notas_subidas') }}">Cancelar</a>
{% endblock %}