{% extends "profesor/base_profesor.html" %}
{% block title %} Perfil del Docente{% endblock %}
{% block header %}<p>Perfil del Docente</p>{% endblock %}
{% block content %}
<p><strong>Usuario:</strong> {{ docente.username }}</p>
<p><strong>Rol:</strong> {{ docente.role }}</p>
<p><strong>Nombre:</strong> {{ docente.nombre }}</p>
<p><strong>Documento:</strong> {{ docente.documento }}</p>
<p><strong>Correo:</strong> {{ docente.correo }}</p>
<p><strong>Teléfono:</strong> {{ docente.telefono }}</p>
<p><strong>Materias:</strong></p>
<ul>
    {% for materia in docente.materias %}
        <li>{{ materia }}</li>
    {% endfor %}
</ul>
        <a href="{{ url_for('editar_perfil_docente', username=docente.username) }}">Actualiza tus datos</a>
{% endblock %}
