{% extends "estudiante/base_estudiante.html" %}
{% block title %} Mis calificaciones {% endblock %}
{% block header %}<h2 class="text-center">Calificaciones obtenidas</h2>{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="table-responsive">
        <table id="notasTable" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center;">Asignatura</th>
                    <th style="text-align: center;">Docente</th>
                    <th style="text-align: center;">Calificación</th>
                    <th style="text-align: center;">Resultado</th>
                </tr>
            </thead>
            <tbody>
                {% for asignatura in asignaturas %}
                    <tr>
                        <td style="text-align: center;">{{ asignatura.asignatura }}</td>
                        <td style="text-align: center;">{{ asignatura.docente }}</td>
                        <td style="text-align: center;">{{ asignatura.calificacion }}</td>
                        <td style="text-align: center;">
                            {% if asignatura.calificacion is defined and asignatura.calificacion is number %}
                                {% if asignatura.calificacion >= 3 %}
                                    <span style="color: green;">Aprobado</span>
                                {% else %}
                                    <span style="color: red;">No Aprobado</span>
                                {% endif %}
                            {% else %}
                                Sin calificación
                            {% endif %}
                        </td>  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Incluyendo JS de DataTables -->
<script>
    $(document).ready(function () {
        $('#notasTable').DataTable({
            "aLengthMenu": [[3, 5, 10, 25, -1],[3, 5, 10, 25, "All"]],
            "iDisplayLength": 4,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "search": "Buscar",
                "zeroRecords": "Ningún registro encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(Filtrado de _MAX_ registro(s) totales)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
{% endblock %}
