{% extends "estudiante/base_estudiante.html" %}
{% block title %} Docentes {% endblock %}
{% block header %}<h2 class="text-center">Mis profesores</h2>{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="table-responsive">
        <table id="docentesTable" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Materias</th>
                </tr>
            </thead>
            <tbody>
                {% for docente in docentes %}
                <tr>
                    <td>{{ docente.nombre }}</td>
                    <td>{{ docente.correo }}</td>
                    <td>{{ docente.telefono }}</td>
                    <td>{{ ', '.join(docente.materias) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Incluyendo JS de DataTables -->
<script>
    $(document).ready(function () {
        $('#docentesTable').DataTable({
            "aLengthMenu": [[ 5, 10, 25, -1],[ 5, 10, 25, "All"]],
            "iDisplayLength": 5,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "search": "Buscar",
                "zeroRecords": "Ningún registro encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(Filtrado de _MAX_ registro(s) totales)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
{% endblock %}
